{% extends "SoyonsFootBundle::layout.html.twig" %}

{% block body %}
  <body>
    <header id="titre">
      <h1>Soyons <strong>Foot!</strong></h1>
    </header>
    <nav class="navprincipale">
      <a href="{{ path('soyons_foot_homepage') }}"> Acceuil</a>
      <a href="{{ path('soyons_foot_debutantguide') }}"> Le guide du débutant</a>
      <a href="{{ path('soyons_foot_techniques') }}"> Les différentes techniques</a>
    </nav>

    <section>
      <h1> Créez-vous votre compte personnel </h1>
      
    <form action="{{ path('soyons_foot_login') }}" method="post">

      <label>Nom : </label>
      
      <input type="text" name="nom"> 
            
      <label> Prénom: </label>
      
      <input type="text" name="prenom"> 
            
      <label> Email: </label>
      
      <input type="text" name="email"> 
            
      <label> Mot de passe: </label>
      
      <input type="password" name="motdepasse">       
      
      <input type="submit" value="Ok" class="submit">      
      

    </form>

    </section>

    <p><a href="#titre"><i class="fas fa-angle-double-up"></i></a></p>

{% endblock %}
